:root {
  --container-width: 1280px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Pretendard-";
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

.header {
  width: 100%;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

.App {
  width: var(--container-width);
  max-width: 100%; /* 최대 너비 제한 */
  margin: 0 auto; /* 중앙 정렬 */
}

@media (max-width: 1280px) {
  :root {
    --container-width: 100%; /* 최소 너비보다 작을 때 100%로 설정 */
  }
  .App {
    width: 100%;
    padding: 0 10px;
  }
}
