:root {
    --scale-factor: 1;  /* 기본 스케일 팩터 */
  }

  .header {
    width:100%;
  }
  
  .App {
    width: 100vw; /* 기본 너비 설정 */
    transform-origin: top center; /* 변환 원점 설정 */
    transform: scale(var(--scale-factor)); /* 스케일 적용 */
    margin: 0 auto; /* 가운데 정렬 */
    transform-origin: top center; /* 확대/축소 기준점 설정 */
  }
  


