.bestsellers-container {
    padding: 20px;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
}

.bestsellers-container .genre-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.bestsellers-container .genre-buttons button {
    flex: 1;
    margin: 0 5px;
    cursor: pointer;
}

.bestsellers-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-family: "Pretendard-Light", Helvetica;
}

.bestsellers-container .book-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc(50% - 20px);
}

.bestsellers-container .book-cover {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.bestsellers-container .book-details {
    padding: 10px;
}

.bestsellers-container .book-details p {
    margin-bottom: 10px;
    color: #000;
    font-family: "Pretendard-Light", Helvetica;
    font-size: large;
    font-weight: bold;
}

.bestsellers-container .book-details div {
    margin-bottom: 5px;
    color: #666;
    font-family: "Pretendard-Light", Helvetica;
}

.bestsellers-container .bestsellers-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
