.book-drawer-container {
    background: #f8f8f8;
    height: auto;
    padding: 70px 360px;
    border-radius: 8px;
    min-width: 1800px;
  }
 
 .book-drawer-container .book-drawer-header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column; 
    margin-bottom: 20px;
  }
  .book-drawer-container .book-drawer-title{
    font-family: Pretendard-;
    font-weight: 400;
    font-size: 30px;
  }

  .book-drawer-container .book-drawer-sub{
    font-family: "Pretendard-Light";
    font-weight: 300;
    font-size: 20px;
    color: #666666
  }
  
  .book-drawer-container .book-drawer-plus-book-btn {
    margin-left: auto; /* 자동으로 왼쪽 여백을 설정하여 오른쪽으로 이동 */
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
 
  .book-drawer-container .book-drawer-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .book-drawer-container .book-drawer-genre {
    flex: 1 1 calc(50% - 30px);
    background: #fff;
    padding: 20px 32px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0 0 0 20px;
    font-family: "Pretendard-Light";
    max-width: 530px;
    min-height: 237px;
    
  }
  
  .book-drawer-container .book-drawer-genre .genre-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #3f3e3e;
    font-weight: 300;
  }
  
  

  /*북서랍 slick ----------------------------------------------------*/
  .book-drawer-container .book-drawer-genre .slick-slide {
    margin-right: 10px;
  }
  .book-drawer-container .book-drawer-genre .slick-track {
    margin: 0 ; /* 슬라이드 간격 조정 */
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
  }
  .book-drawer-container .book-drawer-genre .slick-current {
  }
  .book-drawer-container .book-drawer-genre .slick-list {
    overflow: hidden;
    display: flex;
    justify-content: flex-start; 
    height: 157px !important;
  }

  .book-drawer-container .book-drawer-genre .slick-slide .slick-active {
    min-width: 100px !important; 
  }
  
  .book-drawer-container .book-drawer-genre .slick-prev:hover,
  .book-drawer-container .book-drawer-genre .slick-next:hover {
    background: #888; /* 버튼 호버 시 배경색 */
  }

  .book-drawer-container .next-button::before
  .book-drawer-container .prev-button::before {
    display: none !important;

  }

  /*-------------------------------------------------------------------*/
  .book-drawer-books {
    gap: 10px;
}
  
  .book-drawer-container .book-drawer-book {
    position: relative;
    max-width:100px !important;
  }
  
  .book-drawer-container .book-drawer-book .book-drawer-book-img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    cursor: pointer;
  }
  
  .book-drawer-container .book-drawer-book-img:hover {
    opacity: 0.5;
  }
  
  .book-drawer-container .book-drawer-no-books {
    display: flex !important; 
    color: #888;
    font-size: 14px;
    height: 150px;
    border: 2px dashed #ddd;
    border-radius: 4px;
    justify-content: center !important;
    align-items: center !important;
    width: 440px !important;
}
  
  .book-drawer-container .book-drawer-book-overlay {
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .book-drawer-container .book-drawer-book:hover .book-drawer-book-overlay {
    opacity: 1;
    /* background-color: #888; */
  }
  
  .book-drawer-container .book-drawer-book-btn {
    margin: 5px;
    padding: 5px 10px;
    /* color: white; */
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-family: Pretendard-;
  }
  
  .book-drawer-container .book-drawer-book-btn:hover {
    /* opacity: 1; */
    background-color: #E9853C;
    color:#ffffff
  }