.div-bookpost {
  background-color: #ffffff;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 100px 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-bookpost .div-bookpost-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.div-bookpost .back-book {
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 10px;
  justify-content: flex-start;
}

.div-bookpost .bookpost-title {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
}

/* 책 커버 */
.div-bookpost .book-cover {
  display: block;
  width: 180px;
  height: 260px;
  margin-bottom: 60px;
}
.book-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; /* 전체 콘텐츠의 최대 너비 설정 */
}

.book-info-container {
  width: 100%;
  max-width: 400px;
  margin-right:80px;
}

.div-bookpost .group-bookname,
.div-bookpost .group-author,
.div-bookpost .group-company {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.div-bookpost .title-bookname,
.div-bookpost .title-author,
.div-bookpost .title-company {
  width: 80px;
  flex-shrink: 0;
  color: transparent;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.div-bookpost .rect-bookname,
.div-bookpost .rect-author,
.div-bookpost .rect-company {
  flex: 1;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #8e8e8e;
  height: 35px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  overflow-y: hidden; 
}

.div-bookpost .rect-bookname::-webkit-scrollbar-thumb,
.div-bookpost .rect-author::-webkit-scrollbar-thumb,
.div-bookpost .rect-company::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 2px;
}

/* 한줄평 */
.div-bookpost .div-one-line {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
  position: relative;
}

.div-bookpost .one-line-notice {
  color: #858585;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: -16px;
}

.div-bookpost .title-one-line {
  width: 80px;
  flex-shrink: 0;
  color: transparent;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.div-bookpost .rect-one-line {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #8e8e8e;
  width: 300px;
  height: 80px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
  padding: 8px;
  overflow: auto;
}

/* 독서 후기 */
.div-bookpost .div-review {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.div-bookpost .subtitle-review {
  width: 80px;
  flex-shrink: 0;
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.div-bookpost .rect-review {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #8e8e8e;
  height: 380px;
  padding: 10px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
  overflow-y: auto;
}

/* 평가 버튼 */
.div-button-containder {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
  margin-left:40px;
}

.div-bookpost .div-good,
.div-bookpost .div-bad {
  background-color: #ffffff;
  border-radius: 35px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.div-bookpost .btn-good,
.div-bookpost .btn-bad {
  height: 49px;
  width: 49px;
  object-fit: cover;
}

/* 제출 버튼 */
.div-bookpost .div-submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
  margin-left:80px;
}

.div-bookpost .subit-btn {
  background-color: #000000;
  border-radius: 30px;
  height: 59px;
  width: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-bookpost .submit {
  color: #ffffff;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
}

.div-bookpost .subtitle {
  color: #000000;
}

.div-bookpost .star {
  color: #2599ed;
}