.div-header {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
  padding: 0 20px;
  box-sizing: border-box;
}

.div-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  white-space: nowrap;
}

.div-search-small {
  display: flex;
  align-items: center;
  border: 0.5px solid; 
  border-color: #000000;
  height: 40px; 
  width: 400px;
  margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
}

.search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.search-input:focus {
  outline: none;
}

.icon-search {
  width: 20px;
  height: 20px; 
  object-fit: cover;
  cursor: pointer;
  margin-right:10px
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 오른쪽 끝으로 이동 */
}

.icon-user {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 70px; /* 오른쪽 여백 추가 */
}

.div-auth {
  cursor: pointer;
}

.auth {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px; 
  font-weight: 400;
  white-space: nowrap;
}
