.div-join {
  background-color: #ffffff;
  min-height: 100vh; /* 최소 높이를 화면 전체로 설정 */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  padding: 20px; /* 내부 여백 설정 */
  box-sizing: border-box;
}

.div-join .title-join {
  display: flex;
  align-items: center;
  justify-content: left; /* 왼쪽 정렬 */
  width: 100%;
  max-width: 1160px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.div-join .join-title {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
}

.div-join .back-join {
  height: 34px;
  width: 14px;
  cursor: pointer;
  margin-right: 30px;
}

.div-join .rect-join {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 중앙 정렬 */
  border-radius: 30px;
  border: 1px solid #a6a6a6;
  margin-bottom: 100px;
  padding: 50px;
}

.div-join .form-join {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 중앙 정렬 */
}

.div-join .img-profile {
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px; /* 아래 여백 설정 */
}

.div-join .div-id{
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.div-join .notice-id {
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px; /* 위 여백 설정 */
  position:absolute;
  top: 40px;
  left: 94px;
}


.div-join .div-nickname{
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  position:relative;
}



.div-join .notice-nickname {
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 46px;
  left:94px;
}



.div-join .div-password {
  margin-left: -34px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.div-join .notice-password {
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: #858585;
  margin-bottom: -1px;
  position:absolute;
  text-align: center;
  top: -20px;
  margin-left: 268px;
}


.div-join .div-password2 {
  margin-left: -90px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  position:relative;
}

.div-join .notice-password2 {
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 46px;
  left: 140px;
}


.div-join .title{
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px; /* 아래 여백 설정 */
  text-wrap: nowrap;
}

.div-join .star{
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  color: #269AEE;
  margin-right: 30px
}

.div-join .div-password2 .title{
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px; /* 아래 여백 설정 */
  text-wrap: nowrap;
  margin-right: 30px;
}


.div-join .rect-input {
  height: 40px;
  min-width: 300px;
  padding: 0 10px;
  border: 1px solid #8e8e8e;
  background-color: white;
  box-sizing: border-box;
  margin-top: 5px; /* 위 여백 설정 */
}



.div-join .button-dupli {
  width: 90px;
  height: 38px;
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: #ffffff;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px; /* 위 여백 설정 */
  margin-left:20px;
  text-align: center;
}






.div-join .div-button-ok {
  color: #ffffff;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 102px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; /* 가로 중앙 정렬 */
  margin-top: 20px; /* 위 여백 설정 */
  text-wrap: nowrap;
}
