.div-my {
  background-color: #ffffff;
  height: 1540px;
  position: relative;
  padding: 20px;
  font-family: "Pretendard-Light";
}

.div-my .profile-container {
  height: 200px;
  position: absolute;
  top: 97px;
  /* width: 387px; */
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  padding: 0 200px;
}

.div-my .flex {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-left: 15px;
}

.div-my .flex2 {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  /* margin-bottom: 1px; */
  gap: 10px;
}

/* .profile-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
} */

.div-my .profile-img-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.div-my .profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.div-my .profile-nickname {
  color: #000000;
  position: absolute;
  /* left: 70%; */
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  /* margin-left: 15px; */
  white-space: nowrap;
  top: 20px;
}

/* .profile-nickname {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
} */

.div-my .profile-details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.div-my .profile-overlap-group-wrapper {
  /* height: 28px; */
  /* left: 70%; */
  margin-left: auto;
  /* bottom: 0; */
  /* position: absolute; */
  margin-top: 100px;
}

.div-my .profile-edit-info {
  border-radius: 30px;
  height: 28px;
  position: relative;
  width: 78px;
  cursor: pointer;
}

.div-my .profile-text-edit-info {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 6px;
  left: 13px;
  white-space: nowrap;
}

.div-my .profile-rect-edit-info {
  border: 1px solid #000000;
  border-radius: 30px;
  height: 38px;
  width: 78px;
  position: absolute;
  top: 0;
  text-align: center;
}

.div-my .profile-heart {
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 10px; 
}

.div-my .profile-heart-img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  /* position: absolute; */
}

.div-my .book-drawer{
  margin-top: 300px;
}