.div-search {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    padding: 20px;
    height: 2098px;
  }
  
  .div-search .title {
    color: #000000;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 380px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 99px;
    white-space: nowrap;
  }

  .div-search .div-search-box {
    height: 50px;
    left: 630px;
    position: absolute;
    top: 236px;
    width: 700px;
    display: flex;
  }
  
  .div-search .search-box {
    border: 2px solid;
    border-color: #000000;
    border-radius: 25px;
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 600px;
    padding: 10px;
    padding-left: 30px;
    color: #000000;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 20px;
  }
  
  .div-search .div-btn-search {
    height: 45px;
    left: 660px;
    position: absolute;
    top: 5px;
    width: 82px;
    cursor: pointer;
  }
  
  .div-search .btn-search {
    background-color: #000000;
    border-radius: 30px;
    height: 45px;
    position: relative;
    width: 80px;
  }
  
  .div-search .search {
    color: #ffffff;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
    width: 35px;
  }
  
  .div-search .line-search {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 340px;
    width: 1920px;
  }
  
  .div-search .book-1 {
    height: 230px;
    left: 510px;
    position: absolute;
    top: 391px;
    width: 900px;
  }
  
  .div-search .img-book-1,
  .div-search .img-book-2,
  .div-search .img-book-3,
  .div-search .img-book-4 {
    background-position: 50% 50%;
    background-size: cover;
    height: 200px;
    left: 70px;
    position: absolute;
    top: 0;
    width: 130px;
    cursor: pointer;
  }
  
  .div-search .book-1-info,
  .div-search .book-2-info,
  .div-search .book-3-info,
  .div-search .book-4-info {
    height: 138px;
    left: 301px;
    position: absolute;
    top: 31px;
    width: 118px;
    cursor: pointer;
  }
  

  .div-search .book-title {
    color: #000000;
    font-family: "Pretendard-SemiBold", Helvetica;
    font-size: 25px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .div-search .book-author {
    color: #000000;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
    white-space: nowrap;
  }
  
  .div-search .book-company{
    color: #000000;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 114px;
    white-space: nowrap;
  }
  
  .div-search .book-service {
    height: 40px;
    left: 760px;
    position: absolute;
    top: 160px;
    width: 110px;
  }
  

  .div-search .icon-heart {
    height: 29px;
    left: 70px;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 29px;
    cursor:pointer;
  }
  
  .div-search .icon-cart {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 40px;
    cursor: pointer;
  }
  
  .div-search .line-book {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 229px;
    width: 900px;
  }
  
  .div-search .book-2 {
    height: 230px;
    left: 510px;
    position: absolute;
    top: 651px;
    width: 900px;
  }
  

  .div-search .book-3 {
    height: 230px;
    left: 510px;
    position: absolute;
    top: 911px;
    width: 900px;
  }

  .div-search .book-4 {
    height: 230px;
    left: 510px;
    position: absolute;
    top: 1171px;
    width: 900px;
  }

  .pagination {
    position: absolute;
    top : 1500px;
    left : -10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%
}

.pagination button {
    
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}
