.div-search-popup {
    height: 500px;
    position: relative;
    width: 500px;
    top:420px; 
    left: 728px;
    display: flex;
  }
  
  .div-search-popup .search-popup {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
    overflow-y: hidden; /* 가로 스크롤 비활성화 */
    flex-direction: column;
  }

  .div-search-popup .div-search {
    height: 62px;
    left: 0px;
    top: 6px;
    width: 490px;
    display: flex;
  }
  
  .div-search-popup .line-div-search {
    height: 2px;
    left: 2px;
    position: absolute;
    top: 60px;
    width: 500px;
  }
  
  .div-search-popup .btn-close {
    height: 34px;
    left: 450px;
    object-fit: cover;
    position: absolute;
    top: 8px;
    width: 30px;
    cursor: pointer;
  }
  
  .div-search-popup .btn-search-popup {
    height: 42px;
    left: 405px;
    position: absolute;
    top: 5px;
    width: 30px;
    cursor: pointer;
  }
  
  .div-search-popup .search-input {
    color: #000000;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 20px;
    font-weight: 200;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    width: 350px;
    border:none;
  }
  .div-search-popup .search-input:focus {
    outline: none;
    border-color: #555; /* 포커스 시 보더 색상 변경 */
}


.div-search-popup .div-search-result {
    flex:1;
    width: 100%;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    max-height: calc(100% - 62px); /* 상단 바와 여백을 고려한 최대 높이 계산 */
    margin-top: 20px;
}
  
.div-search-popup .group-book {
  height: 160px;
  left: 48px;
  position: relative;
  width: 334px;
  margin-bottom: 10px;
  margin-top: 10px;
}
  
  .div-search-popup .book-img {
    height: 140px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100px;
  }
  
  .div-search-popup .group-book-info {
    height: 96px;
    left: 131px;
    position: absolute;
    top: 20px;
    width: 209px;
  }
  
  .div-search-popup .title {
    color: #000000;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
    width: 240px;
  }
  
  .div-search-popup .author {
    color: #000000;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 14px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 44px;
    width: 240px;
  }
  
  .div-search-popup .company{
    color: #000000;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 14px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    top: 75px;
    width: 240px;
  }


  .div-search-popup .group-book-wrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.div-search-popup .line-div-search-book {
  height: 1px;
  object-fit: cover;
  width: 400px; /* 필요에 따라 너비 조정 */
  background-color: #000; /* 시각적으로 보이게 하기 위한 예 */
  margin-top: 10px; /* 구분선과 다음 책 사이의 공간 */
  margin-left: auto; /* 왼쪽 마진 자동 조정 */
  margin-right: auto; /* 오른쪽 마진 자동 조정 */
  margin-bottom: 10px;
}

.div-search-popup .title,
.div-search-popup .author,
.div-search-popup .company {
  margin-bottom: 10px; /* 요소간 간격 */
}

.div-search-popup .group-book-wrapper:last-child {
  margin-bottom: 50px; /* 마지막 요소에 추가 마진 부여 */
}