.slide-01 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 37.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 40px;
    color: #fff;
    font-family: Pretendard;
}

.slide-background {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 37.5rem;
    object-fit: cover;
}
.slide-01-btn-lr {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 37.5rem;
}
.btn-right {
    position: absolute;
    top: 17rem;
    left: 115rem;
    width: 1.875rem;
    height: 3.5rem;
    object-fit: contain;
}
.btn-left {
    position: absolute;
    top: 17rem;
    left: 3.125rem;
    width: 1.875rem;
    height: 3.5rem;
}



.ment {
    margin: 0;
    white-space: nowrap;
}
.slide01-ment1 {
    position: absolute;
    top: 130px;
    left: 250px;
    font-weight: 300;
}
.slide01-ment2 {
    position: absolute;
    top: 270px;
    left: 250px;
    font-size: 20px;
    font-weight: 300;
}
.detail-box {
    position: absolute;
    top: 0rem;
    left: 200px;
    background-color: #ffffff;
    width: 11.25rem;
    height: 2.5rem;
}
.detail {
    position: absolute;
    top: 0.438rem;
    line-height: 150%;
}
.btn-detail {
    position: absolute;
    top: 00px;
    left: 0px;
    width: 11.25rem;
    height: 2.5rem;
    font-size: 1.125rem;
    color: #000;
}
.number-left {
    font-weight: 800;
}
.number-right {
    font-weight: 300;
}
.page-number {
    position: absolute;
    top: 31.25rem;
    left: 93.813rem;
    font-size: 1.25rem;
}


