/* Tutorial.css */
.tutorial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .tutorial-overlay .tutorial-content {
    position: relative;
    background: #E9853C;
    width: 80%;
    max-width: 800px;
    height: 600px;  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between;  
    text-align: center;
    color: #fff;
  }
  
  .tutorial-overlay .tutorial-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .tutorial-overlay .tutorial-controls button {
    background: #fff;
    color: #3b5998;
    border: 0.5px solid #8e8e8e;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tutorial-overlay .tutorial-controls button:hover {
    background: #ddd;
  }
  
  .tutorial-overlay .slide-1,
  .tutorial-overlay .slide-2,
  .tutorial-overlay .slide-3,
  .tutorial-overlay .slide-4,
  .tutorial-overlay .slide-5,
  .tutorial-overlay .slide-6,
  .tutorial-overlay .slide-7,
  .tutorial-overlay .slide-8 {
    display: flex;              
    flex-direction: column;      
    justify-content: center;     
    align-items: center; 
    text-align: center; 
    padding: 60px 80px;
    font-family: Pretendard-light;
  }

  .tutorial-overlay .ment-big{
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  .tutorial-overlay .slide-1 {
    text-align: left;
    padding:100px;
    margin-left: 62px;
  }
  .tutorial-overlay .slide-1 .ment-big {
    margin-top:80px;
    
  }

  
  .tutorial-overlay .slide-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .tutorial-overlay .slide-image-container img {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }
  
  .tutorial-overlay .slick-prev::before,
  .tutorial-overlay .slick-next::before {
    opacity: 0;
    display: none;
  }


 
/* slick-dots 기본 스타일 조정 */
.tutorial-overlay .slick-dots {
    position: absolute; /* 튜토리얼 컨테이너 내부에 절대 위치로 배치 */
    bottom: 10px; /* 튜토리얼 하단에서의 간격 조정 */
    left: 0;
    width: 100%; /* 너비를 100%로 설정하여 중앙 정렬 */
    display: block !important;
    justify-content: center;
    color: #ffffff !important;
    top: 130% !important;
}
  
.tutorial-overlay .slick-dots li {
    margin: 0 5px; 
    
  }
  
   /* 기본 dot */
  .slick-dots li button:before {
    font-size: 12px; 
    color: #fff !important;
    opacity: 0.75; 
    
  }

  /* 활성화된 dot */
  .slick-dots li.slick-active button:before {
    color: #E9853C; 
    opacity: 1; 
  }