.div-withdraw {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  padding: 100px 150px;
}

.div-withdraw .group-title {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
}

.div-withdraw .title {
  position: relative;
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-left: 20px;
}

.div-withdraw .back-with {
  position: relative;
  width: 14px;
  height: 34px;
  cursor: pointer;
}

.div-withdraw .notice-with {
  position: relative;
  color: #fd0303;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  top: 130px;
  left: 40px;
}

.div-withdraw .rect-with {
  position: relative;
  top: 340px;
  left: 380px;
  width: 1160px;
  height: 300px;
}

.div-withdraw .group-input {
  position: relative;
  margin-top: 160px;
  left: 30px;
  width: 900px;
  height: 300px;
  background-size: 100% 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #a6a6a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

.div-withdraw .group-pass {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top:20px;
}

.div-withdraw .rect-with-input {
  position: relative;
  width: 280px;
  height: 40px;
  padding: 10px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
}

.div-withdraw .text-pass {
  position: relative;
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-right: 20px;
  margin-left: -20px;
}

.div-withdraw .div-submit {
  position: relative;
  width: 102px;
  height: 40px;
  cursor: pointer;
  margin-top: 70px;
  margin-bottom: 0px;
}

.div-withdraw .btn-submit {
  position: relative;
  width: 100px;
  height: 40px;
  background-color: #000000;
  border-radius: 30px;
}

.div-withdraw .submit {
  position: relative;
  top: 8px;
  left: 34px;
  color: #ffffff;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  width: 50px;
}