.div-user-info {
  background-color: #ffffff;
  height: 1403px;
  position: relative;
  width: 100%;
}

.div-user-info .div-title {
  height: 44px;
  left: 360px;
  position: absolute;
  top: 200px;
  width: 222px;
}

.div-user-info .title {
  color: #000000;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-user-info .back-user-info {
  height: 34px;
  left: -3px;
  position: absolute;
  top: 2px;
  width: 14px;
  cursor: pointer;
}

.div-user-info .div-edit-info {
  height: 791px;
  left: 379px;
  position: absolute;
  top: 300px;
  width: 1162px;
}

.div-user-info .group-new-pass {
  height: 791px;
  position: relative;
  width: 1160px;
}

.div-user-info .profile {
  height: 200px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 200px;
}

.div-user-info .rectangle {
  height: 791px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1160px;
}

.div-user-info .notice-pass {
  color: #858585;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 580px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 500px;
}

.div-user-info .div-pass {
  height: 40px;
  left: 309px;
  position: absolute;
  top: 459px;
  width: 424px;
  padding:10px;
}

.div-user-info .rect-pass {
  height: 40px;
  left: 122px;
  position: absolute;
  top: 0;
  width: 280px;
  padding: 10px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;  
}


.div-user-info .div-new-pass {
  height: 40px;
  left: 309px;
  position: absolute;
  top: 538px;
  width: 424px;
  padding: 10px;
}

.div-user-info .rect-new-pass {
  height: 40px;
  left: 122px;
  position: absolute;
  top: 0;
  width: 280px;
  padding: 10px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
}

.div-user-info .subtitle {
  color: #000000;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.div-user-info .group-id {
  height: 40px;
  left: 349px;
  position: absolute;
  top: 301px;
  width: 384px;
}

.div-user-info .rect-id {
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #8e8e8e;
  height: 40px;
  left: 82px;
  position: absolute;
  top: 0;
  width: 280px;
}

.div-user-info .id {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 69px;
}

.div-user-info .div-new-pass-2{
  height: 40px;
  left: 292px;
  position: absolute;
  top: 619px;
  width: 441px;
}

.div-user-info .rect-new-pass-2 {
  height: 40px;
  left: 139px;
  position: absolute;
  top: 0;
  width: 280px;
  padding: 10px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
}

.div-user-info .group-nickname {
  height: 57px;
  left: 349px;
  position: absolute;
  top: 380px;
  width: 494px;
  
}

.div-user-info .notice-ok-nickname {
  color: #009432;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.div-user-info .group-6 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 492px;
}



.div-user-info .rect-nickname {
  height: 40px;
  left: 82px;
  position: absolute;
  top: 0;
  width: 280px;
  padding:10px;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 15px;
}

.div-user-info .div-dupli {
  height: 38px;
  left: 402px;
  position: absolute;
  top: 1px;
  width: 92px;
  cursor: pointer;
}

.div-user-info .div-btn {
  border: 1px solid;
  border-color: #000000;
  border-radius: 30px;
  height: 38px;
  position: relative;
  /* width: 90px; */
  width: 120px;
}

.div-user-info .text-btn {
  color: #000000;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
  width: 63px;
}

.div-user-info .div-withdrawal {
  height: 38px;
  left: 1037px;
  position: absolute;
  top: 31px;
  width: 92px;
  cursor: pointer;
}

.div-user-info .div-submit {
  height: 40px;
  left: 531px;
  position: absolute;
  top: 700px;
  width: 102px;
  cursor: pointer;
}

.div-user-info .btn-submit {
  background-color: #000000;
  border-radius: 30px;
  height: 40px;
  position: relative;
  width: 100px;
}

.div-user-info .submit {
  color: #ffffff;
  font-family: "Pretendard-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 50px;
}
